html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #222;
}

table {
  margin: auto;
}

.currentWeather {
  text-align: left;
  margin-right: 20px;
}

.currentData {
  text-align : right;
  margin-left: 20px;
}